//load-page font
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap');

@font-face {
    font-weight:400;
    src:url(../font/Px-Grotesk-light.woff2) format('woff2');
}
@font-face {
    font-family: 'PxGrotesk';
    font-weight:500;
    src:url(../font/Px-Grotesk-Regular.woff2) format('woff2');
}
@font-face{
    font-family:'pretendard';
    font-weight:400;
    src:url(../font/PretendardVariable.woff2)
    format('woff2');
}


