//load-page font
@font-face {
  font-family: "TTTogether";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff") format("woff");
}

//main font
@font-face {
  font-family: "PxGrotesk";
  font-weight: 400;
  src: url(../font/Px-Grotesk-light.woff2) format("woff2");
}
@font-face {
  font-family: "PxGrotesk";
  font-weight: 500;
  src: url(../font/Px-Grotesk-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "pretendard";
  font-weight: 400;
  src: url(../font/PretendardVariable.woff2) format("woff2");
}
@font-face {
  font-family: "Neuehaasdisplay";
  font-weight: 400;
  src: url(../font/NeueHaasDisplay-Roman.woff) format("woff");
}
@font-face {
  font-family: "Neuehaasdisplay";
  font-weight: 600;
  src: url(../font/NeueHaasDisplay-Mediu.woff) format("woff");
}
