@charset "UTF-8";

@import "./utils/var";
@import "./utils/mixins";

@import "./base/typo";
@import "./base/reset";
@import "./base/common";

@import "./layout/header";
@import "./layout/navi";
@import "./layout/footer";

@import "./pages/main";
