@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap");
@font-face {
  font-family: "PxGrotesk";
  font-weight: 400;
  src: url(../font/Px-Grotesk-light.woff2) format("woff2");
}
@font-face {
  font-family: "PxGrotesk";
  font-weight: 500;
  src: url(../font/Px-Grotesk-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "pretendard";
  font-weight: 400;
  src: url(../font/PretendardVariable.woff2) format("woff2");
}
@font-face {
  font-family: "Neuehaasdisplay";
  font-weight: 400;
  src: url(../font/NeueHaasDisplay-Roman.woff) format("woff");
}
@font-face {
  font-family: "Neuehaasdisplay";
  font-weight: 600;
  src: url(../font/NeueHaasDisplay-Mediu.woff) format("woff");
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
   -ms-text-size-adjust: none;
       text-size-adjust: none;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  --font-size-lg: clamp(1.7rem,2.5750vw,3.6rem);
  --font-size-md-1: clamp(1.7rem,0.8333vw,3rem);
  --font-size-md-2: clamp(1.6rem,1.5224vw,3rem);
  --font-size-sm-1: clamp(1.5rem, 2.6711vw, 2.5rem);
  --font-size-sm-2: clamp(1.5rem, 1.352vw, 2.3rem);
}

::-moz-selection {
  background: #111;
  color: #f5eddb;
}

::selection {
  background: #111;
  color: #f5eddb;
}

html, body {
  height: 100%;
  line-height: 1;
  font-size: 62.5%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  border: none;
}

body {
  font-family: PxGrotesk, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 400;
  color: #222;
  line-height: 1.5;
  letter-spacing: -0.065rem;
}

body::-webkit-scrollbar {
  display: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

#wrapper, .App-main {
  position: relative;
  z-index: 800;
}

.common-inner {
  padding-left: 5%;
  padding-right: 3.75%;
  width: 100%;
}
@media (max-width: 1024px) {
  .common-inner {
    padding-left: 3.9101vw;
    padding-right: 3.9101vw;
  }
}
@media (max-width: 768px) {
  .common-inner {
    padding-left: 6.25%;
    padding-right: 6.25%;
  }
}

/* header 공통 */
.header-main, .linkRoll-char, .works-txt-item > div, .works-txt-mo, .foot-copy {
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo, .works-txt-item {
  font-size: var(--font-size-lg);
  letter-spacing: 0.025vw;
  font-weight: 500;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .logo, .works-txt-item {
    font-weight: 600;
  }
}

/* 버튼 공통 */
.Button {
  all: unset;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
}

.btn-arrow-wrap, .btn-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* linkRoll */
.linkRoll {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}
.linkRoll-char {
  display: inline-block;
}
.linkRoll:hover span {
  -webkit-animation: 0.3s cubic-bezier(0.25, 0.25, 0.25, 1.15) pulse;
          animation: 0.3s cubic-bezier(0.25, 0.25, 0.25, 1.15) pulse;
  -webkit-animation-delay: calc(var(--index) * 0.03s);
          animation-delay: calc(var(--index) * 0.03s);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  51% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  51% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/* grid 영역잡기 */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

img {
  height: auto;
  vertical-align: middle;
  color: transparent;
}

.sc-project {
  background: #f5eddb;
  -webkit-box-shadow: inset 0 -1px 0 #000;
          box-shadow: inset 0 -1px 0 #000;
  height: 55vw;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1580px) {
  .sc-project {
    height: 54.9715vw;
  }
}
@media (max-width: 1140px) {
  .sc-project {
    height: 67.4276vw;
  }
}
@media (max-width: 1024px) {
  .sc-project {
    height: 75.0735vw;
  }
}
@media (max-width: 900px) {
  .sc-project {
    height: 85.4283vw;
  }
}
@media (max-width: 768px) {
  .sc-project {
    height: 100vw;
  }
}
@media (max-width: 480px) {
  .sc-project {
    height: 110.2296vw;
  }
}
.sc-project .frame-project .project-inner {
  min-height: 100vh;
}
.sc-project .frame-project .project-inner > * {
  position: absolute;
  inset: 0;
}
.sc-project .frame-project .project-inner .project-title {
  z-index: 3;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .sc-project .frame-project .project-inner .project-title.common-inner {
    padding-right: 0;
  }
}
.sc-project .frame-project .project-inner .project-title .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -1.4375rem;
  margin-bottom: 0;
  margin-left: -1.875vw;
  white-space: nowrap;
  font-size: clamp(1.25rem, 1.25rem + 20vw, 62.4375rem);
  letter-spacing: -1.625vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 25%;
}
@media (max-width: 1024px) {
  .sc-project .frame-project .project-inner .project-title .title {
    bottom: 3rem;
  }
}
@media (max-width: 900px) {
  .sc-project .frame-project .project-inner .project-title .title {
    bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .sc-project .frame-project .project-inner .project-title .title {
    font-size: clamp(1.25rem, 1.25rem + 19vw, 62.4375rem);
    bottom: 3.5rem;
  }
}
@media (max-width: 600px) {
  .sc-project .frame-project .project-inner .project-title .title {
    font-size: clamp(1.25rem, 1.25rem + 18vw, 62.4375rem);
  }
}
.sc-project .frame-project .project-inner .project-title .title .scroll-title {
  position: relative;
  display: block;
}
.sc-project .frame-project .project-inner .project-visual {
  gap: 3.75vw;
  row-gap: 0;
  z-index: 3;
}
@media (max-width: 1024px) {
  .sc-project .frame-project .project-inner .project-visual {
    gap: 4.6921vw;
  }
}
.sc-project .frame-project .project-inner .project-visual .project-figure {
  position: relative;
}
.sc-project .frame-project .project-inner .project-visual .project-figure:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.05;
}
.sc-project .frame-project .project-inner .project-visual .project-figure .project-img {
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sc-project .frame-project .project-inner .project-visual .project-content {
  letter-spacing: 0.1px;
  display: grid;
  gap: 3.6rem;
  place-items: start;
  position: relative;
  font-family: "pretendard";
}
@media (max-width: 1024px) {
  .sc-project .frame-project .project-inner .project-visual .project-content {
    display: none;
  }
}
.sc-project .frame-project .project-inner .project-visual .project-content .content-title {
  margin-bottom: -2.6rem;
  font-size: var(--font-size-lg);
  font-weight: bold;
  line-height: 1.3;
}
.sc-project .frame-project .project-inner .project-visual .project-content .content-txt {
  font-size: var(--font-size-sm-2);
  line-height: 1.5;
  text-wrap: balance;
  font-weight: 500;
}
.sc-project .frame-project .project-inner .project-visual .project-content .btn-enter {
  margin-top: 3.6rem;
  border: 2px solid transparent;
  padding: 40px 16px 12.8px 8px;
  border-radius: 0.2rem;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1580px) {
  .sc-project .frame-project .project-inner .project-visual .project-content .btn-enter {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    margin-top: 0;
  }
}
@media (max-width: 1527px) {
  .sc-project .frame-project .project-inner .project-visual .project-content .btn-enter {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.sc-project .frame-project .project-inner .project-visual .project-content .btn-enter .btn-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  position: relative;
  z-index: 2;
}
.sc-project .frame-project .project-inner .project-visual .project-content .btn-enter .btn-arrow .Button-arrow-svg {
  width: 34px;
  height: 37px;
}
.sc-project .frame-project .project-inner .project-visual .project-content .btn-enter .btn-arrow .Button-arrow-svg .Button-arrow-path {
  fill: transparent;
  stroke: #000;
  stroke-width: 2px;
}
.sc-project .frame-project .project-inner .project-visual .project-content .btn-enter .btn-arrow .Button-arrow-svg--out {
  position: absolute;
  top: 0;
}
.sc-project .frame-project .project-inner .project-visual .project-content .btn-enter .btn-arrow .btn-pointer {
  background: url(../images/enter-arrow.svg) no-repeat;
  width: 18px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0.5rem;
  offset-path: path("M1 0V28C1 30.7614 3.23858 33 6 33H37");
  offset-distance: 0%;
}
.sc-project .frame-project .project-inner .project-visual .project-content .btn-enter .btn-arrow .btn-pointer-out {
  offset-distance: 95%;
  -webkit-transform: none;
          transform: none;
}
.sc-project .frame-project .project-inner .project-visual .project-content .btn-enter .btn-bg, .sc-project .frame-project .project-inner .project-visual .project-content .btn-enter .btn-bg-hover {
  border-radius: 4px 4px 4px 16px;
  position: absolute;
  inset: -2px;
}
.sc-project .frame-project .project-inner .project-visual .project-content .btn-enter .btn-bg {
  background: #f5eddb;
  border: 2px solid #000;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sc-project .frame-project .project-inner .project-visual .project-content .btn-enter .btn-bg-hover {
  background: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sc-project .frame-project .project-inner .project-visual .project-content .btn-enter:hover .btn-bg {
  background: #fff;
}
.sc-project .frame-project .project-inner .project-visual .project-content .btn-enter:hover .btn-bg-hover {
  -webkit-transform: translateX(0.5rem) translateY(0.5rem) translateZ(0px);
          transform: translateX(0.5rem) translateY(0.5rem) translateZ(0px);
}
.sc-project .frame-project .project-inner .project-view {
  inset: auto 0 3% 0;
  z-index: 4;
  display: none;
}
@media (max-width: 1024px) {
  .sc-project .frame-project .project-inner .project-view {
    display: block;
  }
}
@media (max-width: 600px) {
  .sc-project .frame-project .project-inner .project-view {
    inset: auto 0 1vw 0;
  }
}
.sc-project .frame-project .project-inner .project-view .link-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  -webkit-transition: opacity 0.3s cubic-bezier(0.68, 0, 0.1, 1);
  transition: opacity 0.3s cubic-bezier(0.68, 0, 0.1, 1);
  font-size: var(--font-size-lg);
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.1px;
}
.sc-project .frame-project .project-inner .project-view .link-view .link-icon {
  width: 3rem;
  height: 3rem;
}
.sc-project .frame-project .project-inner .stamp {
  display: grid;
  place-items: center;
}
.sc-project .frame-project .project-inner .stamp .stamp-inner {
  position: relative;
  width: 26.0417vw;
  height: 26.0417vw;
}
@media (max-width: 1140px) {
  .sc-project .frame-project .project-inner .stamp .stamp-inner {
    width: 29.9045vw;
    height: 29.9045vw;
  }
}
@media (max-width: 480px) {
  .sc-project .frame-project .project-inner .stamp .stamp-inner {
    width: 38.0835vw;
    height: 38.0835vw;
  }
}
.sc-project .frame-project .project-inner .stamp .stamp-inner .link-stamp {
  display: block;
  cursor: pointer;
  -webkit-transform: none;
          transform: none;
}
.sc-project .frame-project .project-inner .stamp .stamp-inner .link-stamp:hover {
  tansform: scale(1.1);
}
.sc-project .frame-project .project-inner .stamp .stamp-inner .link-stamp .stamp-img {
  -webkit-animation: rotation 10s linear infinite;
          animation: rotation 10s linear infinite;
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.header {
  position: fixed;
  inset: 0 0 auto 0;
  min-width: 320px;
  padding-top: 3.125%;
  mix-blend-mode: difference;
  z-index: 10000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1140px) {
  .header {
    padding-top: 3.5118%;
  }
}
@media (max-width: 1024px) {
  .header {
    padding-top: 3.128%;
  }
}
@media (max-width: 320px) {
  .header {
    padding-top: 7.8125%;
  }
}
.header .header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header-wrap .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header-wrap .header-left .separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 0.1563vw;
  width: 1.5625vw;
  margin: 0 0.8333vw;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.header .header-wrap .header-left .separator-line {
  background: #fff;
  display: block;
  height: 0.16vw;
  position: absolute;
  width: 100%;
}
@media (max-width: 768px) {
  .header .header-wrap .header-left .separator {
    display: none;
  }
}
.header .header-wrap .header-left .header-btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header-wrap .header-left .header-btn-wrap .works-txt-mo {
  display: none;
  font-weight: bold;
  font-family: Helvetica Neue, Arial, sans-serif;
  overflow: hidden;
  position: relative;
  font-size: var(--font-size-md-1);
}
@media (max-width: 768px) {
  .header .header-wrap .header-left .header-btn-wrap .works-txt-mo {
    display: block;
  }
}
.header .header-wrap .header-left .header-btn-wrap .works-txt {
  position: relative;
}
@media (max-width: 768px) {
  .header .header-wrap .header-left .header-btn-wrap .works-txt {
    display: none;
  }
}
.header .header-wrap .header-left .header-btn-wrap .works-txt .works-txt-item {
  display: block;
  margin-right: 1.25vw;
  overflow: hidden;
  text-align: left;
}

.header-mask {
  position: fixed;
  display: none;
  -webkit-clip-path: circle(0% at 728px 96px);
          clip-path: circle(0% at 728px 96px);
  inset: 0 0 0 8px;
  background: #000;
  min-width: 300px;
  z-index: 900;
}

.gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2%;
}
.gnb .gnb-item {
  position: relative;
  overflow: hidden;
  font-size: var(--font-size-md-2);
  font-weight: 500;
  letter-spacing: 0.01rem;
}
@media (max-width: 768px) {
  .gnb .gnb-item {
    font-weight: 600;
    font-family: Helvetica Neue, Arial, sans-serif;
  }
  .gnb .gnb-item .linkAbout {
    display: none;
  }
  .gnb .gnb-item .linkVelog {
    -webkit-box-shadow: inset 0 0 0 0.2rem #fff;
            box-shadow: inset 0 0 0 0.2rem #fff;
    border-radius: 50%;
    padding: 8px;
  }
}
.gnb .gnb-item + .gnb-item {
  margin-left: 20%;
}

.footer {
  background: #f5eddb;
  padding-bottom: 7.5vw;
  font-weight: 500;
  letter-spacing: 0.01rem;
  font-size: 1.1979vw;
}
@media (max-width: 1140px) {
  .footer {
    padding-bottom: 8.5162vw;
    font-size: 1.4047vw;
  }
}
@media (max-width: 1024px) {
  .footer {
    padding-bottom: 9.3842vw;
    font-size: 1.564vw;
  }
}
@media (max-width: 900px) {
  .footer {
    font-size: 1.7798vw;
  }
}
@media (max-width: 768px) {
  .footer {
    padding-bottom: 3.2595vw;
    font-size: 1.9557vw;
  }
}
@media (max-width: 600px) {
  .footer {
    font-size: 2.5042vw;
  }
}
@media (max-width: 480px) {
  .footer {
    font-size: 3.1315vw;
  }
}
.footer .foot-inner {
  mix-blend-mode: difference;
  padding-top: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 1140px) {
  .footer .foot-inner {
    padding-top: 5.619vw;
  }
}
@media (max-width: 1024px) {
  .footer .foot-inner {
    padding-top: 6.2561vw;
  }
}
@media (max-width: 768px) {
  .footer .foot-inner {
    padding-top: 6.5189vw;
  }
}
.footer .foot-inner .foot-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
@media (max-width: 768px) {
  .footer .foot-inner .foot-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.125rem;
  }
}
.footer .foot-inner .foot-copy {
  text-align: right;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000;
  z-index: 2000;
  overflow: hidden;
  font-family: "Cinzel", serif;
  font-weight: 500;
}
.loader marquee {
  opacity: 0.2;
  text-transform: uppercase;
  line-height: 180px;
  margin: 0;
  padding: 0;
  color: #646464;
  font-size: 200px;
}
.loader .intro {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
.loader .intro .intro-title {
  font-size: 124px;
  color: #fff;
  font-weight: 400;
}
@media (max-width: 1527px) {
  .loader .intro .intro-title {
    font-size: 8.1046vw;
  }
}
.loader .intro .intro-title .letter {
  display: inline-block;
  line-height: 1em;
}

.App-main {
  min-height: 100vh;
  background: #f5eddb;
  /* project-1st */
  /* project-2nd */
  /* project-3rd */
  /* project-4th */
  /* project-5th */
  /* orhter project */
}
.App-main .sc-project.project-1st .frame-about {
  position: relative;
  height: 100%;
}
.App-main .sc-project.project-1st .frame-about .about {
  max-width: 26.302%;
  position: absolute;
  z-index: 99;
  padding-top: 15.75vw;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1580px) {
  .App-main .sc-project.project-1st .frame-about .about {
    padding-top: 19.7593vw;
  }
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-1st .frame-about .about {
    padding-top: 25vw;
  }
}
@media (max-width: 600px) {
  .App-main .sc-project.project-1st .frame-about .about {
    display: none;
  }
}
.App-main .sc-project.project-1st .frame-about .about .heading {
  font-size: var(--font-size-md-2);
  line-height: 1.5;
  letter-spacing: 0.005rem;
  font-weight: 500;
}
.App-main .sc-project.project-1st .frame-about .about .link-about {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.App-main .sc-project.project-1st .frame-about .about .link-about .link-txt:after {
  content: "";
  inset: auto 0 0.125rem 0;
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-1st .frame-project .project-visual.common-inner {
    padding-right: 0;
  }
}
.App-main .sc-project.project-1st .frame-project .project-visual .project-figure {
  grid-column: 6/span 5;
}
@media (max-width: 1140px) {
  .App-main .sc-project.project-1st .frame-project .project-visual .project-figure {
    grid-column: 7/span 5;
  }
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-1st .frame-project .project-visual .project-figure {
    grid-column: 7/span 6;
  }
}
@media (max-width: 600px) {
  .App-main .sc-project.project-1st .frame-project .project-visual .project-figure {
    grid-column: 6/span 7;
  }
}
.App-main .sc-project.project-1st .frame-project .project-visual .project-figure .project-img {
  inset: -11% auto 0 -19%;
  width: 43.3125vw;
}
@media (max-width: 1140px) {
  .App-main .sc-project.project-1st .frame-project .project-visual .project-figure .project-img {
    inset: 0 0 auto -40%;
    width: 50vw;
  }
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-1st .frame-project .project-visual .project-figure .project-img {
    width: 55.6641vw;
    top: -3%;
  }
}
@media (max-width: 768px) {
  .App-main .sc-project.project-1st .frame-project .project-visual .project-figure .project-img {
    top: 5%;
  }
}
@media (max-width: 600px) {
  .App-main .sc-project.project-1st .frame-project .project-visual .project-figure .project-img {
    inset: 0 0 auto -25%;
    width: 69.1667vw;
  }
}
@media (max-width: 480px) {
  .App-main .sc-project.project-1st .frame-project .project-visual .project-figure .project-img {
    top: 5%;
  }
}
.App-main .sc-project.project-1st .frame-project .project-visual .project-figure:before {
  content: "";
  height: 100vh;
}
.App-main .sc-project.project-1st .frame-project .project-visual .project-content {
  grid-column: 11/span 2;
  align-self: center;
}
@media (max-width: 1140px) {
  .App-main .sc-project.project-1st .frame-project .project-visual .project-content {
    grid-column: 11/span 3;
    align-self: start;
    place-items: end;
    text-align: right;
  }
}
.App-main .sc-project.project-1st .frame-project .stamp .stamp-inner {
  inset: 5vw 0 0 0;
}
@media (max-width: 900px) {
  .App-main .sc-project.project-1st .frame-project .stamp .stamp-inner {
    inset: 5vw 0 0 -3vw;
  }
}
@media (max-width: 768px) {
  .App-main .sc-project.project-1st .frame-project .stamp .stamp-inner {
    inset: 0;
  }
}
@media (max-width: 600px) {
  .App-main .sc-project.project-1st .frame-project .stamp .stamp-inner {
    inset: 0 0 0 -10vw;
  }
}
.App-main .sc-project.project-2nd .frame-project .project-visual {
  height: 35vw;
}
@media (max-width: 1140px) {
  .App-main .sc-project.project-2nd .frame-project .project-visual {
    height: 39.3329vw;
  }
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-2nd .frame-project .project-visual {
    height: 43.7928vw;
  }
  .App-main .sc-project.project-2nd .frame-project .project-visual.common-inner {
    padding-right: 0;
  }
}
@media (max-width: 900px) {
  .App-main .sc-project.project-2nd .frame-project .project-visual {
    height: 49.8333vw;
  }
}
@media (max-width: 768px) {
  .App-main .sc-project.project-2nd .frame-project .project-visual {
    height: 54.9987vw;
  }
}
@media (max-width: 600px) {
  .App-main .sc-project.project-2nd .frame-project .project-visual {
    height: 54.9983vw;
  }
}
@media (max-width: 480px) {
  .App-main .sc-project.project-2nd .frame-project .project-visual {
    height: 54.9979vw;
  }
}
.App-main .sc-project.project-2nd .frame-project .project-visual .project-figure {
  grid-column: 6/span 4;
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-2nd .frame-project .project-visual .project-figure {
    grid-column: 7/span 6;
  }
}
@media (max-width: 600px) {
  .App-main .sc-project.project-2nd .frame-project .project-visual .project-figure {
    grid-column: 6/span 7;
  }
}
.App-main .sc-project.project-2nd .frame-project .project-visual .project-figure .project-img {
  inset: 5% 0 0 -13%;
  width: 39.0625vw;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}
.App-main .sc-project.project-2nd .frame-project .project-visual .project-content {
  grid-column: 10/span 3;
  align-self: end;
}
.App-main .sc-project.project-2nd .frame-project .stamp .stamp-inner {
  inset: 2vw 0 0 -12vw;
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-2nd .frame-project .stamp .stamp-inner {
    inset: 5vw 0 0 0;
  }
}
@media (max-width: 900px) {
  .App-main .sc-project.project-2nd .frame-project .stamp .stamp-inner {
    inset: 5vw 0 0 -3vw;
  }
}
@media (max-width: 768px) {
  .App-main .sc-project.project-2nd .frame-project .stamp .stamp-inner {
    inset: 0;
  }
}
@media (max-width: 600px) {
  .App-main .sc-project.project-2nd .frame-project .stamp .stamp-inner {
    inset: -3vw 0 0 -12vw;
  }
}
.App-main .sc-project.project-3rd .frame-project .project-content {
  grid-column: 1/span 3;
  align-self: center;
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-3rd .frame-project .project-visual.common-inner {
    padding-left: 0;
    padding-right: 0;
  }
}
.App-main .sc-project.project-3rd .frame-project .project-visual .project-figure {
  grid-column: span 6;
}
.App-main .sc-project.project-3rd .frame-project .project-visual .project-figure .project-img {
  -webkit-transform: rotate(-43deg);
          transform: rotate(-43deg);
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-3rd .frame-project .project-visual .project-figure .project-img {
    inset: -10% 0 0 20%;
    width: 62.45vw;
  }
}
@media (max-width: 768px) {
  .App-main .sc-project.project-3rd .frame-project .project-visual .project-figure .project-img {
    width: 75.8438vw;
  }
}
.App-main .sc-project.project-3rd .frame-project .stamp .stamp-inner {
  inset: 3vw 0 0 20vw;
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-3rd .frame-project .stamp .stamp-inner {
    inset: 3vw 0 0 10vw;
  }
}
@media (max-width: 768px) {
  .App-main .sc-project.project-3rd .frame-project .stamp .stamp-inner {
    inset: 0 0 0 6vw;
  }
}
.App-main .sc-project.project-4th .frame-project .project-visual {
  height: 33.75vw;
}
@media (max-width: 1140px) {
  .App-main .sc-project.project-4th .frame-project .project-visual {
    height: 37.928vw;
  }
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-4th .frame-project .project-visual {
    height: 42.2289vw;
    padding-right: 0;
  }
}
@media (max-width: 900px) {
  .App-main .sc-project.project-4th .frame-project .project-visual {
    height: 44.9949vw;
  }
}
@media (max-width: 600px) {
  .App-main .sc-project.project-4th .frame-project .project-visual {
    height: 45vw;
  }
}
@media (max-width: 480px) {
  .App-main .sc-project.project-4th .frame-project .project-visual {
    height: 46.7641vw;
  }
}
.App-main .sc-project.project-4th .frame-project .project-visual .project-figure {
  grid-column: 6/span 4;
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-4th .frame-project .project-visual .project-figure {
    grid-column: 6/span 7;
  }
}
.App-main .sc-project.project-4th .frame-project .project-visual .project-figure .project-img {
  top: 10%;
  left: -57.5%;
  width: 31.4354vw;
}
@media (max-width: 1140px) {
  .App-main .sc-project.project-4th .frame-project .project-visual .project-figure .project-img {
    top: 20%;
    width: 140%;
    left: -70%;
  }
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-4th .frame-project .project-visual .project-figure .project-img {
    width: 43.3594vw;
    left: -25%;
  }
}
@media (max-width: 768px) {
  .App-main .sc-project.project-4th .frame-project .project-visual .project-figure .project-img {
    width: 52.7344vw;
  }
}
@media (max-width: 600px) {
  .App-main .sc-project.project-4th .frame-project .project-visual .project-figure .project-img {
    width: 55vw;
  }
}
.App-main .sc-project.project-4th .frame-project .project-content {
  grid-column: 10/span 3;
  align-self: end;
}
.App-main .sc-project.project-4th .frame-project .stamp .stamp-inner {
  inset: 0 0 0 -25vw;
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-4th .frame-project .stamp .stamp-inner {
    inset: 0 0 0 -20vw;
  }
}
.App-main .sc-project.project-5th .frame-project .project-visual.common-inner {
  padding-left: 0;
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-5th .frame-project .project-visual.common-inner {
    padding-right: 0;
  }
}
.App-main .sc-project.project-5th .frame-project .project-visual .project-figure {
  grid-column: span 6;
}
.App-main .sc-project.project-5th .frame-project .project-visual .project-figure .project-img {
  inset: -1rem -35vw 0 auto;
  width: 65.5833vw;
}
@media (max-width: 1140px) {
  .App-main .sc-project.project-5th .frame-project .project-visual .project-figure .project-img {
    width: 75.7018vw;
  }
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-5th .frame-project .project-visual .project-figure .project-img {
    width: 75.7018vw;
  }
}
@media (max-width: 900px) {
  .App-main .sc-project.project-5th .frame-project .project-visual .project-figure .project-img {
    width: 75.7018vw;
  }
}
@media (max-width: 768px) {
  .App-main .sc-project.project-5th .frame-project .project-visual .project-figure .project-img {
    inset: 3rem -50vw 0 auto;
    width: 80.7018vw;
  }
}
.App-main .sc-project.project-5th .frame-project .project-content {
  grid-column-start: 11;
  grid-column-end: -1;
  align-self: center;
}
.App-main .sc-project.project-5th .frame-project .stamp .stamp-inner {
  inset: -5rem 0 0 -25vw;
}
.App-main .sc-orther {
  margin-top: 12rem;
  font-family: Neuehaasdisplay, pretendard, sans-serif;
}
.App-main .sc-orther .orther-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3.7rem 7rem;
  font-size: var(--font-size-sm-1);
}
@media (max-width: 1024px) {
  .App-main .sc-orther .orther-head {
    padding: 0 3rem 4rem;
  }
}
.App-main .sc-orther .orther-head:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  background: #fe330a;
  border-radius: 50%;
  margin-right: 1rem;
}
.App-main .sc-orther .orther-list {
  line-height: 1;
}
.App-main .sc-orther .orther-list .orther-item {
  position: relative;
  -webkit-box-shadow: inset 0 -1px 0 #b2b2b2;
          box-shadow: inset 0 -1px 0 #b2b2b2;
}
.App-main .sc-orther .orther-list .orther-item:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  background: #ff9831;
  z-index: -1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.App-main .sc-orther .orther-list .orther-item:hover:before {
  content: "";
  height: 100%;
}
.App-main .sc-orther .orther-list .orther-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.2rem 3.7rem;
}
@media (max-width: 1024px) {
  .App-main .sc-orther .orther-list .orther-item a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem 3rem;
  }
}
.App-main .sc-orther .orther-list .orther-item .title {
  display: block;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}
@media (max-width: 1527px) {
  .App-main .sc-orther .orther-list .orther-item .title {
    font-size: 5rem;
  }
}
@media (max-width: 1140px) {
  .App-main .sc-orther .orther-list .orther-item .title {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .App-main .sc-orther .orther-list .orther-item .title {
    font-size: 3.5rem;
  }
}
@media (max-width: 480px) {
  .App-main .sc-orther .orther-list .orther-item .title {
    font-size: 2.8rem;
  }
}
.App-main .sc-orther .orther-list .orther-item .info {
  text-align: right;
}
@media (max-width: 1024px) {
  .App-main .sc-orther .orther-list .orther-item .info {
    text-align: center;
    margin-top: 1rem;
  }
}
.App-main .sc-orther .orther-list .orther-item .info .date {
  color: #fe330a;
  font-size: 1.6rem;
}
.App-main .sc-orther .orther-list .orther-item .info .desc {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.6rem;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
}

/* avatar-profile */
.avatar-profile {
  position: fixed;
  right: 16px;
  bottom: 16px;
  width: 10rem;
  height: 10rem;
  z-index: 1000;
  border-radius: 50%;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
  font-family: "pretendard", sans-serif;
}
.avatar-profile .avatar-img {
  -webkit-animation: bounce 1s infinite alternate;
          animation: bounce 1s infinite alternate;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
.avatar-profile:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -65%);
          transform: translate(-50%, -65%);
  width: 0;
  height: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px inset, rgba(0, 0, 0, 0.05) 0px 0px 2px 1px, rgba(0, 0, 0, 0.3) 0px 12px 60px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px inset, rgba(0, 0, 0, 0.05) 0px 0px 2px 1px, rgba(0, 0, 0, 0.3) 0px 12px 60px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50%;
}
.avatar-profile:hover:before {
  content: "";
  width: 4rem;
  height: 4rem;
}

/* avatar-profile-box */
.avatar-profile-box {
  position: fixed;
  right: 27px;
  bottom: 35px;
  width: 39rem;
  max-height: 70.7rem;
  z-index: 20000;
  height: calc((100% - 1.6rem) * 2);
  min-height: 4.8rem;
  overflow: hidden;
  visibility: hidden;
  border-radius: 1rem;
  padding-bottom: 1.5rem;
  background: #f9f5ef;
  -webkit-transition: visibility 300ms cubic-bezier(0.36, 0, 0, 1) 0s;
  transition: visibility 300ms cubic-bezier(0.36, 0, 0, 1) 0s;
  border: 0.5px solid rgba(23, 16, 16, 0.1);
  -webkit-box-shadow: 0 16px 48px rgba(0, 0, 0, 0.15);
          box-shadow: 0 16px 48px rgba(0, 0, 0, 0.15);
  -webkit-animation: 400ms cubic-bezier(0.36, 0, 0, 1) 0s 1 normal none running close;
          animation: 400ms cubic-bezier(0.36, 0, 0, 1) 0s 1 normal none running close;
  will-change: transform, opacity;
}
@media (max-width: 480px) {
  .avatar-profile-box {
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 93%;
    border-radius: 1rem 1rem 0 0;
  }
}
@-webkit-keyframes close {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 20px, 0px);
            transform: translate3d(0px, 20px, 0px);
  }
}
@keyframes close {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 20px, 0px);
            transform: translate3d(0px, 20px, 0px);
  }
}
.avatar-profile-box.on {
  opacity: 1;
  visibility: visible;
  -webkit-animation: 400ms cubic-bezier(0.36, 0, 0, 1) 0s 1 normal both running jtBULV;
          animation: 400ms cubic-bezier(0.36, 0, 0, 1) 0s 1 normal both running jtBULV;
}
@-webkit-keyframes jtBULV {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 20px, 0px);
            transform: translate3d(0px, 20px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
}
@keyframes jtBULV {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 20px, 0px);
            transform: translate3d(0px, 20px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
}
.avatar-profile-box .avatar-head {
  padding: 1.5rem 0;
  border-bottom: 1px solid #ddd;
}
.avatar-profile-box .avatar-head h2 {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1;
}
.avatar-profile-box .avatar-con {
  padding: 2rem;
  height: calc(100% - 2.8rem);
  width: 100%;
  overflow-y: scroll;
}
.avatar-profile-box .avatar-con::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}
.avatar-profile-box .avatar-con::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.avatar-profile-box .avatar-con::-webkit-scrollbar-thumb {
  background: #888;
  height: 100px;
}
.avatar-profile-box .avatar-con::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.avatar-profile-box .avatar-con h3 {
  font-size: 2.4rem;
  line-height: 1.3;
}
.avatar-profile-box .avatar-con .desc {
  margin-top: 2rem;
  font-size: 1.6rem;
}
.avatar-profile-box .avatar-con .link-works {
  margin-top: 2rem;
}
.avatar-profile-box .avatar-con .link-works .works-list {
  margin-top: 2rem;
}
.avatar-profile-box .avatar-con .link-works .works-list li {
  border-radius: 3rem;
}
.avatar-profile-box .avatar-con .link-works .works-list li a {
  display: block;
  position: relative;
}
.avatar-profile-box .avatar-con .link-works .works-list li a:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-perspective: 1px;
          perspective: 1px;
}
.avatar-profile-box .avatar-con .link-works .works-list li + li {
  margin-top: 0.5rem;
}
.avatar-profile-box .close-btn-wrap {
  position: absolute;
  left: 2rem;
  top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.avatar-profile-box .close-btn-wrap li {
  width: 15px;
  height: 15px;
  position: relative;
  border-radius: 50%;
  margin-right: 0.5rem;
  border: 1px solid #ddd;
}
.avatar-profile-box .close-btn-wrap li:first-child {
  border: none;
  background: #ea4335;
}
.avatar-profile-box .close-btn-wrap li .btn-close {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.avatar-profile-box .close-btn-wrap li .btn-close:before {
  content: "×";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 13px;
  color: #ea4335;
}
@media (max-width: 480px) {
  .avatar-profile-box .close-btn-wrap li .btn-close:before {
    color: #fff;
  }
}
.avatar-profile-box .close-btn-wrap li .btn-close:hover:before {
  content: "×";
  color: #fff;
}