@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap");
@font-face {
  font-weight: 400;
  src: url(../font/Px-Grotesk-light.woff2) format("woff2");
}
@font-face {
  font-family: "PxGrotesk";
  font-weight: 500;
  src: url(../font/Px-Grotesk-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "pretendard";
  font-weight: 400;
  src: url(../font/PretendardVariable.woff2) format("woff2");
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
   -ms-text-size-adjust: none;
       text-size-adjust: none;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  --font-size-lg: clamp(1.7rem,1.8750vw,3.6rem);
  --font-size-md-1: clamp(1.7rem,0.8333vw,3rem);
  --font-size-md-2: clamp(1.6rem,1.5224vw,3rem);
  --font-size-sm-1: clamp(1.5rem, 2.6711vw, 2.5rem);
  --font-size-sm-2: clamp(1.5rem, 1.352vw, 2.3rem);
}

::-moz-selection {
  background: #111;
  color: #f5eddb;
}

::selection {
  background: #111;
  color: #f5eddb;
}

html, body {
  height: 100%;
  line-height: 1;
  font-size: 62.5%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  border: none;
}

body {
  font-family: PxGrotesk, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 400;
  color: #222;
  line-height: 1.5;
  letter-spacing: -0.065rem;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

#wrapper, .App-main {
  position: relative;
  z-index: 800;
}

.common-inner {
  padding-left: 5%;
  padding-right: 3.75%;
  width: 100%;
}
@media (max-width: 1024px) {
  .common-inner {
    padding-left: 3.9101vw;
    padding-right: 3.9101vw;
  }
}
@media (max-width: 768px) {
  .common-inner {
    padding-left: 6.25%;
    padding-right: 6.25%;
  }
}

/* header 공통 */
.header-main, .linkRoll-char, .works-txt-item > div, .works-txt-mo, .foot-copy {
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo, .works-txt-item {
  font-size: var(--font-size-lg);
  letter-spacing: 0.025vw;
  font-weight: 500;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* 버튼 공통 */
.Button {
  all: unset;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
}

.btn-arrow-wrap, .btn-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* linkRoll */
.linkRoll {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
  position: relative;
  -webkit-transition: opacity 0.3s cubic-bezier(0.68, 0, 0.1, 1);
  transition: opacity 0.3s cubic-bezier(0.68, 0, 0.1, 1);
}
.linkRoll-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.linkRoll-char {
  display: inline-block;
  position: relative;
}

/* link-txt */
.link-txt {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
  position: relative;
  -webkit-transition: opacity 0.3s cubic-bezier(0.68, 0, 0.1, 1);
  transition: opacity 0.3s cubic-bezier(0.68, 0, 0.1, 1);
}
.link-txt:after {
  content: "";
  position: absolute;
  inset: auto 0 0.125rem 0;
  border: 1px solid #111;
  -webkit-transition: opacity 1.3s cubic-bezier(0.68, 0, 0.1, 1);
  transition: opacity 1.3s cubic-bezier(0.68, 0, 0.1, 1);
}

.link-txt-hover {
  display: none;
}

/* grid 영역잡기 */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

img {
  height: auto;
  vertical-align: middle;
  color: transparent;
}

.sc-project {
  background: #f5eddb;
  -webkit-box-shadow: inset 0 -1px 0 #000;
          box-shadow: inset 0 -1px 0 #000;
  height: 55vw;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1580px) {
  .sc-project {
    height: 54.9715vw;
  }
}
@media (max-width: 1140px) {
  .sc-project {
    height: 67.4276vw;
  }
}
@media (max-width: 1024px) {
  .sc-project {
    height: 75.0735vw;
  }
}
@media (max-width: 900px) {
  .sc-project {
    height: 85.4283vw;
  }
}
@media (max-width: 768px) {
  .sc-project {
    height: 100vw;
  }
}
@media (max-width: 480px) {
  .sc-project {
    height: 110.2296vw;
  }
}
.sc-project .frame-project .project-inner {
  min-height: 100vh;
}
.sc-project .frame-project .project-inner > * {
  position: absolute;
  inset: 0;
}
.sc-project .frame-project .project-inner .project-title {
  z-index: 3;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .sc-project .frame-project .project-inner .project-title.common-inner {
    padding-right: 0;
  }
}
.sc-project .frame-project .project-inner .project-title .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -2.4375rem;
  margin-bottom: 0;
  margin-left: -1.875vw;
  white-space: nowrap;
  font-size: clamp(1.25rem, 1.25rem + 20vw, 62.4375rem);
  line-height: 1;
  letter-spacing: -1.625vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 25%;
}
@media (max-width: 1024px) {
  .sc-project .frame-project .project-inner .project-title .title {
    bottom: 3rem;
  }
}
@media (max-width: 900px) {
  .sc-project .frame-project .project-inner .project-title .title {
    bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .sc-project .frame-project .project-inner .project-title .title {
    font-size: clamp(1.25rem, 1.25rem + 19vw, 62.4375rem);
  }
}
@media (max-width: 600px) {
  .sc-project .frame-project .project-inner .project-title .title {
    font-size: clamp(1.25rem, 1.25rem + 18vw, 62.4375rem);
  }
}
.sc-project .frame-project .project-inner .project-title .title .scroll-title {
  position: relative;
  display: block;
}
.sc-project .frame-project .project-inner .project-visual {
  gap: 3.75vw;
  row-gap: 0;
  z-index: 3;
}
@media (max-width: 1024px) {
  .sc-project .frame-project .project-inner .project-visual {
    gap: 4.6921vw;
  }
}
.sc-project .frame-project .project-inner .project-visual .project-figure {
  position: relative;
}
.sc-project .frame-project .project-inner .project-visual .project-figure:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.05;
}
.sc-project .frame-project .project-inner .project-visual .project-figure .project-img {
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sc-project .frame-project .project-inner .project-visual .project-content {
  letter-spacing: 0.1px;
  display: grid;
  gap: 3.6rem;
  place-items: start;
  position: relative;
  font-family: "pretendard";
}
@media (max-width: 1024px) {
  .sc-project .frame-project .project-inner .project-visual .project-content {
    display: none;
  }
}
.sc-project .frame-project .project-inner .project-visual .project-content .content-title {
  margin-bottom: -2.6rem;
  font-size: var(--font-size-lg);
  font-weight: bold;
  line-height: 1.3;
}
.sc-project .frame-project .project-inner .project-visual .project-content .content-txt {
  font-size: var(--font-size-sm-2);
  line-height: 1.3333;
  text-wrap: balance;
  font-weight: 500;
}
.sc-project .frame-project .project-inner .project-visual .project-content .btn-enter {
  margin-top: 3.6rem;
  border: 2px solid transparent;
  padding: 40px 16px 12.8px 8px;
  border-radius: 0.2rem;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1580px) {
  .sc-project .frame-project .project-inner .project-visual .project-content .btn-enter {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    margin-top: 0;
  }
}
@media (max-width: 1527px) {
  .sc-project .frame-project .project-inner .project-visual .project-content .btn-enter {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.sc-project .frame-project .project-inner .project-visual .project-content .btn-enter .btn-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  position: relative;
  z-index: 2;
}
.sc-project .frame-project .project-inner .project-visual .project-content .btn-enter .btn-arrow .Button-arrow-svg {
  width: 34px;
  height: 37px;
}
.sc-project .frame-project .project-inner .project-visual .project-content .btn-enter .btn-arrow .Button-arrow-svg .Button-arrow-path {
  fill: transparent;
  stroke: #000;
  stroke-width: 2px;
}
.sc-project .frame-project .project-inner .project-visual .project-content .btn-enter .btn-arrow .Button-arrow-svg--out {
  position: absolute;
  top: 0;
}
.sc-project .frame-project .project-inner .project-visual .project-content .btn-enter .btn-arrow .btn-pointer {
  background: url(../images/enter-arrow.svg) no-repeat;
  width: 18px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0.5rem;
  offset-path: path("M1 0V28C1 30.7614 3.23858 33 6 33H37");
  offset-distance: 0%;
}
.sc-project .frame-project .project-inner .project-visual .project-content .btn-enter .btn-arrow .btn-pointer-out {
  offset-distance: 95%;
  -webkit-transform: none;
          transform: none;
}
.sc-project .frame-project .project-inner .project-visual .project-content .btn-enter .btn-bg, .sc-project .frame-project .project-inner .project-visual .project-content .btn-enter .btn-bg-hover {
  border-radius: 4px 4px 4px 16px;
  position: absolute;
  inset: -2px;
}
.sc-project .frame-project .project-inner .project-visual .project-content .btn-enter .btn-bg {
  background: #f5eddb;
  border: 2px solid #000;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sc-project .frame-project .project-inner .project-visual .project-content .btn-enter .btn-bg-hover {
  background: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sc-project .frame-project .project-inner .project-visual .project-content .btn-enter:hover .btn-bg {
  background: #fff;
}
.sc-project .frame-project .project-inner .project-visual .project-content .btn-enter:hover .btn-bg-hover {
  -webkit-transform: translateX(0.5rem) translateY(0.5rem) translateZ(0px);
          transform: translateX(0.5rem) translateY(0.5rem) translateZ(0px);
}
.sc-project .frame-project .project-inner .project-view {
  inset: auto 0 3% 0;
  gap: 1.875%;
  z-index: 4;
  display: none;
}
@media (max-width: 1024px) {
  .sc-project .frame-project .project-inner .project-view {
    display: grid;
  }
}
@media (max-width: 600px) {
  .sc-project .frame-project .project-inner .project-view {
    inset: auto 0 5.5109vw 0;
  }
}
.sc-project .frame-project .project-inner .project-view .view-wrap {
  grid-column: 12;
}
.sc-project .frame-project .project-inner .project-view .view-wrap .link-view {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: opacity 0.3s cubic-bezier(0.68, 0, 0.1, 1);
  transition: opacity 0.3s cubic-bezier(0.68, 0, 0.1, 1);
  font-size: var(--font-size-lg);
  font-weight: 500;
  line-height: 1.75;
  padding-right: 2.5rem;
  letter-spacing: 0.1px;
}
.sc-project .frame-project .project-inner .project-view .view-wrap .link-view .link-word {
  display: block;
}
.sc-project .frame-project .project-inner .project-view .view-wrap .link-view .link-word-hover {
  position: absolute;
  display: none;
}
.sc-project .frame-project .project-inner .project-view .view-wrap .link-view .link-icon {
  width: 2.5vw;
  height: 2.5vw;
}
@media (max-width: 768px) {
  .sc-project .frame-project .project-inner .project-view .view-wrap .link-view .link-icon {
    width: 4.1721vw;
    height: 4.1721vw;
  }
}
@media (max-width: 480px) {
  .sc-project .frame-project .project-inner .project-view .view-wrap .link-view .link-icon {
    width: 6.6806vw;
    height: 6.6806vw;
  }
}
.sc-project .frame-project .project-inner .stamp {
  display: grid;
  place-items: center;
}
.sc-project .frame-project .project-inner .stamp .stamp-inner {
  position: relative;
  width: 26.0417vw;
  height: 26.0417vw;
}
@media (max-width: 1140px) {
  .sc-project .frame-project .project-inner .stamp .stamp-inner {
    width: 29.9045vw;
    height: 29.9045vw;
  }
}
@media (max-width: 480px) {
  .sc-project .frame-project .project-inner .stamp .stamp-inner {
    width: 38.0835vw;
    height: 38.0835vw;
  }
}
.sc-project .frame-project .project-inner .stamp .stamp-inner .link-stamp {
  display: block;
  cursor: pointer;
  -webkit-transform: none;
          transform: none;
}
.sc-project .frame-project .project-inner .stamp .stamp-inner .link-stamp:hover {
  tansform: scale(1.1);
}
.sc-project .frame-project .project-inner .stamp .stamp-inner .link-stamp .stamp-img {
  -webkit-animation: rotation 10s linear infinite;
          animation: rotation 10s linear infinite;
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.header {
  position: fixed;
  inset: 0 0 auto 0;
  min-width: 320px;
  padding-top: 3.125%;
  mix-blend-mode: difference;
  z-index: 10000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1140px) {
  .header {
    padding-top: 3.5118%;
  }
}
@media (max-width: 1024px) {
  .header {
    padding-top: 3.128%;
  }
}
@media (max-width: 320px) {
  .header {
    padding-top: 7.8125%;
  }
}
.header .header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header-wrap .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .header .header-wrap .header-left {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header .header-wrap .header-left .separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 0.1563vw;
  width: 1.5625vw;
  margin: 0 0.8333vw;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.header .header-wrap .header-left .separator-line {
  background: #fff;
  display: block;
  height: 0.16vw;
  position: absolute;
  width: 100%;
}
@media (max-width: 768px) {
  .header .header-wrap .header-left .separator {
    display: none;
  }
}
.header .header-wrap .header-left .header-btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header-wrap .header-left .header-btn-wrap:hover .btn-bg {
  -webkit-transform: translateY(0%) translateZ(0px);
          transform: translateY(0%) translateZ(0px);
}
.header .header-wrap .header-left .header-btn-wrap .works-txt-mo {
  display: none;
  font-weight: bold;
  font-family: Helvetica Neue, Arial, sans-serif;
  overflow: hidden;
  position: relative;
  font-size: var(--font-size-md-1);
}
@media (max-width: 768px) {
  .header .header-wrap .header-left .header-btn-wrap .works-txt-mo {
    display: block;
  }
}
.header .header-wrap .header-left .header-btn-wrap .works-txt {
  position: relative;
}
@media (max-width: 768px) {
  .header .header-wrap .header-left .header-btn-wrap .works-txt {
    display: none;
  }
}
.header .header-wrap .header-left .header-btn-wrap .works-txt .works-txt-item {
  display: block;
  margin-right: 1.25vw;
  overflow: hidden;
  text-align: left;
}
@media (max-width: 768px) {
  .header .header-wrap .header-left .header-btn-wrap .header-btn-arrow {
    margin-left: 10%;
  }
}
.header .header-wrap .header-left .header-btn-wrap .header-btn-arrow .btn-arrow-wrap {
  border: 0;
  -webkit-box-shadow: inset 0 0 0 0.0625rem #fff;
          box-shadow: inset 0 0 0 0.0625rem #fff;
  border-radius: 50%;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 5vw;
  height: 3.75vw;
  margin: 0;
  overflow: hidden;
  padding: 0;
  z-index: 0;
}
@media (max-width: 1140px) {
  .header .header-wrap .header-left .header-btn-wrap .header-btn-arrow .btn-arrow-wrap {
    width: 5.619vw;
    height: 4.2142vw;
  }
}
@media (max-width: 1024px) {
  .header .header-wrap .header-left .header-btn-wrap .header-btn-arrow .btn-arrow-wrap {
    width: 4.6921vw;
    height: 3.9101vw;
  }
}
@media (max-width: 768px) {
  .header .header-wrap .header-left .header-btn-wrap .header-btn-arrow .btn-arrow-wrap {
    width: 4.6936vw;
    height: 4.6936vw;
  }
}
@media (max-width: 600px) {
  .header .header-wrap .header-left .header-btn-wrap .header-btn-arrow .btn-arrow-wrap {
    width: 6.01vw;
    height: 6.01vw;
  }
}
.header .header-wrap .header-left .header-btn-wrap .header-btn-arrow .btn-arrow-wrap .btn-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  pointer-events: none;
}
.header .header-wrap .header-left .header-btn-wrap .header-btn-arrow .btn-arrow-wrap .btn-icon .Icon {
  display: inline-block;
  fill: currentColor;
  width: 2.5vw;
  height: 2.5vw;
}
@media (max-width: 768px) {
  .header .header-wrap .header-left .header-btn-wrap .header-btn-arrow .btn-arrow-wrap .btn-icon .Icon {
    width: 6.2581vw;
    height: 6.2581vw;
  }
}
.header .header-wrap .header-left .header-btn-wrap .header-btn-arrow .btn-arrow-wrap .btn-bg {
  background: #fff;
  border-radius: 50%;
  display: block;
  height: 200%;
  position: absolute;
  top: -50%;
  left: -75%;
  width: 250%;
  z-index: 0;
  -webkit-transform: translateY(77%) translateZ(0px);
          transform: translateY(77%) translateZ(0px);
}

.header-mask {
  position: fixed;
  display: none;
  -webkit-clip-path: circle(0% at 728px 96px);
          clip-path: circle(0% at 728px 96px);
  inset: 0 0 0 8px;
  background: #000;
  min-width: 300px;
  z-index: 900;
}

.gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2%;
}
@media (max-width: 768px) {
  .gnb {
    display: none;
  }
}
.gnb .gnb-item {
  position: relative;
  overflow: hidden;
  font-size: 1.5vw;
  font-weight: 500;
  letter-spacing: 0.01rem;
}
.gnb .gnb-item + .gnb-item {
  margin-left: 20%;
}

.footer {
  background: #f5eddb;
  padding-bottom: 7.5vw;
  font-weight: 500;
  letter-spacing: 0.01rem;
  font-size: 1.1979vw;
}
@media (max-width: 1140px) {
  .footer {
    padding-bottom: 8.5162vw;
    font-size: 1.4047vw;
  }
}
@media (max-width: 1024px) {
  .footer {
    padding-bottom: 9.3842vw;
    font-size: 1.564vw;
  }
}
@media (max-width: 900px) {
  .footer {
    font-size: 1.7798vw;
  }
}
@media (max-width: 768px) {
  .footer {
    padding-bottom: 3.2595vw;
    font-size: 1.9557vw;
  }
}
@media (max-width: 600px) {
  .footer {
    font-size: 2.5042vw;
  }
}
@media (max-width: 480px) {
  .footer {
    font-size: 3.1315vw;
  }
}
.footer .foot-inner {
  mix-blend-mode: difference;
  padding-top: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 1140px) {
  .footer .foot-inner {
    padding-top: 5.619vw;
  }
}
@media (max-width: 1024px) {
  .footer .foot-inner {
    padding-top: 6.2561vw;
  }
}
@media (max-width: 768px) {
  .footer .foot-inner {
    padding-top: 6.5189vw;
  }
}
.footer .foot-inner .foot-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}
@media (max-width: 768px) {
  .footer .foot-inner .foot-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.125rem;
  }
}
.footer .foot-inner .foot-copy {
  text-align: right;
}

.works-txt-mo {
  display: none;
}

.loading-page {
  display: none;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000;
  z-index: 2000;
  overflow: hidden;
  font-family: "Cinzel", serif;
  font-weight: 500;
}
.loader marquee {
  opacity: 0.2;
  text-transform: uppercase;
  line-height: 180px;
  margin: 0;
  padding: 0;
  color: #646464;
  font-size: 200px;
}
.loader .intro {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
.loader .intro .intro-title {
  font-size: 124px;
  font-weight: 400;
}
@media (max-width: 1527px) {
  .loader .intro .intro-title {
    font-size: 8.1046vw;
  }
}
.loader .intro .intro-title .letter {
  display: inline-block;
  line-height: 1em;
}

.App-main {
  min-height: 100vh;
  background: #f5eddb;
  /* project-1st */
  /* project-2nd */
  /* project-3rd */
  /* project-4th */
  /* project-5th */
}
.App-main .sc-project.project-1st .frame-about {
  position: relative;
  height: 100%;
}
.App-main .sc-project.project-1st .frame-about .about-mo {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: -0.25rem;
}
@media (max-width: 600px) {
  .App-main .sc-project.project-1st .frame-about .about-mo {
    display: block;
  }
}
.App-main .sc-project.project-1st .frame-about .about-mo .link-about {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
.App-main .sc-project.project-1st .frame-about .about-mo .link-about .link-txt {
  font-size: var(--font-size-sm-1);
  letter-spacing: 0.05vw;
}
.App-main .sc-project.project-1st .frame-about .about-mo .link-about .link-txt:after {
  content: "";
  inset: 0 auto 0 0;
}
.App-main .sc-project.project-1st .frame-about .about {
  max-width: 26.302%;
  position: absolute;
  z-index: 99;
  padding-top: 15.75vw;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1580px) {
  .App-main .sc-project.project-1st .frame-about .about {
    padding-top: 19.7593vw;
  }
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-1st .frame-about .about {
    padding-top: 25vw;
  }
}
@media (max-width: 600px) {
  .App-main .sc-project.project-1st .frame-about .about {
    display: none;
  }
}
.App-main .sc-project.project-1st .frame-about .about .heading {
  font-size: var(--font-size-md-2);
  line-height: 1.5;
  letter-spacing: 0.005rem;
  font-weight: 500;
}
.App-main .sc-project.project-1st .frame-about .about .link-about {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.App-main .sc-project.project-1st .frame-about .about .link-about .link-txt:after {
  content: "";
  inset: auto 0 0.125rem 0;
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-1st .frame-project .project-visual.common-inner {
    padding-right: 0;
  }
}
.App-main .sc-project.project-1st .frame-project .project-visual .project-figure {
  grid-column: 6/span 5;
}
@media (max-width: 1140px) {
  .App-main .sc-project.project-1st .frame-project .project-visual .project-figure {
    grid-column: 7/span 5;
  }
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-1st .frame-project .project-visual .project-figure {
    grid-column: 7/span 6;
  }
}
@media (max-width: 600px) {
  .App-main .sc-project.project-1st .frame-project .project-visual .project-figure {
    grid-column: 6/span 7;
  }
}
.App-main .sc-project.project-1st .frame-project .project-visual .project-figure .project-img {
  inset: -11% auto 0 -19%;
  width: 43.3125vw;
}
@media (max-width: 1140px) {
  .App-main .sc-project.project-1st .frame-project .project-visual .project-figure .project-img {
    inset: 0 0 auto -40%;
    width: 50vw;
  }
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-1st .frame-project .project-visual .project-figure .project-img {
    width: 55.6641vw;
    top: -3%;
  }
}
@media (max-width: 768px) {
  .App-main .sc-project.project-1st .frame-project .project-visual .project-figure .project-img {
    top: 5%;
  }
}
@media (max-width: 600px) {
  .App-main .sc-project.project-1st .frame-project .project-visual .project-figure .project-img {
    inset: 0 0 auto -25%;
    width: 69.1667vw;
  }
}
@media (max-width: 480px) {
  .App-main .sc-project.project-1st .frame-project .project-visual .project-figure .project-img {
    top: 5%;
  }
}
.App-main .sc-project.project-1st .frame-project .project-visual .project-figure:before {
  content: "";
  height: 100vh;
}
.App-main .sc-project.project-1st .frame-project .project-visual .project-content {
  grid-column: 11/span 2;
  align-self: center;
}
@media (max-width: 1140px) {
  .App-main .sc-project.project-1st .frame-project .project-visual .project-content {
    grid-column: 11/span 3;
    align-self: start;
    place-items: end;
    text-align: right;
  }
}
.App-main .sc-project.project-1st .frame-project .stamp .stamp-inner {
  inset: 5vw 0 0 0;
}
@media (max-width: 900px) {
  .App-main .sc-project.project-1st .frame-project .stamp .stamp-inner {
    inset: 5vw 0 0 -3vw;
  }
}
@media (max-width: 768px) {
  .App-main .sc-project.project-1st .frame-project .stamp .stamp-inner {
    inset: 0;
  }
}
@media (max-width: 600px) {
  .App-main .sc-project.project-1st .frame-project .stamp .stamp-inner {
    inset: 0 0 0 -10vw;
  }
}
.App-main .sc-project.project-2nd .frame-project .project-visual {
  height: 35vw;
}
@media (max-width: 1140px) {
  .App-main .sc-project.project-2nd .frame-project .project-visual {
    height: 39.3329vw;
  }
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-2nd .frame-project .project-visual {
    height: 43.7928vw;
  }
  .App-main .sc-project.project-2nd .frame-project .project-visual.common-inner {
    padding-right: 0;
  }
}
@media (max-width: 900px) {
  .App-main .sc-project.project-2nd .frame-project .project-visual {
    height: 49.8333vw;
  }
}
@media (max-width: 768px) {
  .App-main .sc-project.project-2nd .frame-project .project-visual {
    height: 54.9987vw;
  }
}
@media (max-width: 600px) {
  .App-main .sc-project.project-2nd .frame-project .project-visual {
    height: 54.9983vw;
  }
}
@media (max-width: 480px) {
  .App-main .sc-project.project-2nd .frame-project .project-visual {
    height: 54.9979vw;
  }
}
.App-main .sc-project.project-2nd .frame-project .project-visual .project-figure {
  grid-column: 6/span 4;
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-2nd .frame-project .project-visual .project-figure {
    grid-column: 7/span 6;
  }
}
@media (max-width: 600px) {
  .App-main .sc-project.project-2nd .frame-project .project-visual .project-figure {
    grid-column: 6/span 7;
  }
}
.App-main .sc-project.project-2nd .frame-project .project-visual .project-figure .project-img {
  inset: 5% 0 0 -13%;
  width: 39.0625vw;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}
.App-main .sc-project.project-2nd .frame-project .project-visual .project-content {
  grid-column: 10/span 3;
  align-self: end;
}
.App-main .sc-project.project-2nd .frame-project .stamp .stamp-inner {
  inset: 2vw 0 0 -12vw;
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-2nd .frame-project .stamp .stamp-inner {
    inset: 5vw 0 0 0;
  }
}
@media (max-width: 900px) {
  .App-main .sc-project.project-2nd .frame-project .stamp .stamp-inner {
    inset: 5vw 0 0 -3vw;
  }
}
@media (max-width: 768px) {
  .App-main .sc-project.project-2nd .frame-project .stamp .stamp-inner {
    inset: 0;
  }
}
@media (max-width: 600px) {
  .App-main .sc-project.project-2nd .frame-project .stamp .stamp-inner {
    inset: -3vw 0 0 -12vw;
  }
}
.App-main .sc-project.project-3rd .frame-project .project-content {
  grid-column: 1/span 3;
  align-self: center;
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-3rd .frame-project .project-visual.common-inner {
    padding-left: 0;
    padding-right: 0;
  }
}
.App-main .sc-project.project-3rd .frame-project .project-visual .project-figure {
  grid-column: span 6;
}
.App-main .sc-project.project-3rd .frame-project .project-visual .project-figure .project-img {
  -webkit-transform: rotate(-43deg);
          transform: rotate(-43deg);
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-3rd .frame-project .project-visual .project-figure .project-img {
    inset: -10% 0 0 20%;
    width: 62.45vw;
  }
}
@media (max-width: 768px) {
  .App-main .sc-project.project-3rd .frame-project .project-visual .project-figure .project-img {
    width: 75.8438vw;
  }
}
.App-main .sc-project.project-3rd .frame-project .stamp .stamp-inner {
  inset: 3vw 0 0 20vw;
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-3rd .frame-project .stamp .stamp-inner {
    inset: 3vw 0 0 10vw;
  }
}
@media (max-width: 768px) {
  .App-main .sc-project.project-3rd .frame-project .stamp .stamp-inner {
    inset: 0 0 0 6vw;
  }
}
.App-main .sc-project.project-4th .frame-project .project-visual {
  height: 33.75vw;
}
@media (max-width: 1140px) {
  .App-main .sc-project.project-4th .frame-project .project-visual {
    height: 37.928vw;
  }
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-4th .frame-project .project-visual {
    height: 42.2289vw;
    padding-right: 0;
  }
}
@media (max-width: 900px) {
  .App-main .sc-project.project-4th .frame-project .project-visual {
    height: 44.9949vw;
  }
}
@media (max-width: 600px) {
  .App-main .sc-project.project-4th .frame-project .project-visual {
    height: 45vw;
  }
}
@media (max-width: 480px) {
  .App-main .sc-project.project-4th .frame-project .project-visual {
    height: 46.7641vw;
  }
}
.App-main .sc-project.project-4th .frame-project .project-visual .project-figure {
  grid-column: 6/span 4;
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-4th .frame-project .project-visual .project-figure {
    grid-column: 6/span 7;
  }
}
.App-main .sc-project.project-4th .frame-project .project-visual .project-figure .project-img {
  top: 10%;
  left: -57.5%;
  width: 31.4354vw;
}
@media (max-width: 1140px) {
  .App-main .sc-project.project-4th .frame-project .project-visual .project-figure .project-img {
    top: 20%;
    width: 140%;
    left: -70%;
  }
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-4th .frame-project .project-visual .project-figure .project-img {
    width: 43.3594vw;
    left: -25%;
  }
}
@media (max-width: 768px) {
  .App-main .sc-project.project-4th .frame-project .project-visual .project-figure .project-img {
    width: 52.7344vw;
  }
}
@media (max-width: 600px) {
  .App-main .sc-project.project-4th .frame-project .project-visual .project-figure .project-img {
    width: 55vw;
  }
}
.App-main .sc-project.project-4th .frame-project .project-content {
  grid-column: 10/span 3;
  align-self: end;
}
.App-main .sc-project.project-4th .frame-project .stamp .stamp-inner {
  inset: 0 0 0 -25vw;
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-4th .frame-project .stamp .stamp-inner {
    inset: 0 0 0 -20vw;
  }
}
.App-main .sc-project.project-5th .frame-project .project-visual.common-inner {
  padding-left: 0;
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-5th .frame-project .project-visual.common-inner {
    padding-right: 0;
  }
}
.App-main .sc-project.project-5th .frame-project .project-visual .project-figure {
  grid-column: span 6;
}
.App-main .sc-project.project-5th .frame-project .project-visual .project-figure .project-img {
  inset: -1rem -35vw 0 auto;
  width: 27.5vw;
}
@media (max-width: 1140px) {
  .App-main .sc-project.project-5th .frame-project .project-visual .project-figure .project-img {
    width: 30.904vw;
  }
}
@media (max-width: 1024px) {
  .App-main .sc-project.project-5th .frame-project .project-visual .project-figure .project-img {
    width: 34.4089vw;
  }
}
@media (max-width: 900px) {
  .App-main .sc-project.project-5th .frame-project .project-visual .project-figure .project-img {
    width: 39.1546vw;
  }
}
@media (max-width: 768px) {
  .App-main .sc-project.project-5th .frame-project .project-visual .project-figure .project-img {
    width: 45vw;
  }
}
.App-main .sc-project.project-5th .frame-project .project-visual .project-figure .project-img-btm {
  inset: auto -1.5rem 6rem auto;
}
@media (max-width: 600px) {
  .App-main .sc-project.project-5th .frame-project .project-visual .project-figure .project-img-btm {
    inset: auto -0.9rem 4rem auto;
  }
}
.App-main .sc-project.project-5th .frame-project .project-content {
  grid-column-start: 11;
  grid-column-end: -1;
  align-self: center;
}
.App-main .sc-project.project-5th .frame-project .stamp .stamp-inner {
  inset: 0 0 0 -3.5vw;
}