//로드페이지
// .loader {
//   position: fixed;
//   width: 100%;
//   height: 100vh;
//   background: #000;
//   z-index: 2000;
//   overflow: hidden;
//   font-family: "Cinzel", serif;
//   font-weight: 500;

//   marquee {
//     opacity: 0.2;
//     text-transform: uppercase;
//     line-height: 180px;
//     margin: 0;
//     padding: 0;
//     color: #646464;
//     font-size: 200px;
//   }
//   .intro {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     text-align: center;

//     .intro-title {
//       font-size: 124px;
//       color: #fff;
//       font-weight: 400;

//       @include betweenDesktop {
//         font-size: 8.1046vw;
//       }

//       .letter {
//         display: inline-block;
//         line-height: 1em;
//       }
//     }
//   }
// }

//App-main ~
.App-main {
  min-height: 100vh;
  background: $color-cream;
  .sc {
    &-project {
      /* project-1st */
      &.project-1st {
        .frame-about {
          position: relative;
          height: 100%;

          .about {
            // max-width:35ch;
            max-width: 26.302%;
            position: absolute;
            z-index: 99;
            padding-top: 15.75vw;
            transition: all 0.3s;

            padding-top: 19.7593vw;
            @include largeDesktop {
            }
            @include largeTablet {
              // max-width:32.8231vw;
              padding-top: 25vw;
            }
            @include mediumTablet {
              // max-width:29.9221vw;
            }
            @include largeMobile {
              // max-width:25.0326vw;
            }
            @include mediumMobile {
              display: none;
            }

            .heading {
              font-size: var(--font-size-md-2);
              line-height: 1.5;
              letter-spacing: 0.005rem;
              font-weight: 500;

              // @include layDesktop{
              //     font-size:1.6683vw;
              // }

              // @include largeTablet{
              //     font-size:1.8573vw;
              // }

              // @include mediumTablet{
              //     font-size:1.7798vw;
              // }
              // @include largeMobile{
              //     font-size:2.0860vw;
              // }
            }

            .link-about {
              display: inline-flex;
              flex-direction: column;
              justify-content: center;

              .link-txt:after {
                content: "";
                inset: auto 0 0.125rem 0;
              }
            }
          }
        }
        .frame-project {
          .project-visual {
            @include largeTablet {
              &.common-inner {
                padding-right: 0;
              }
            }

            .project-figure {
              grid-column: 6 / span 5;

              @include layDesktop {
                grid-column: 7 / span 5;
              }

              @include largeTablet {
                grid-column: 7 / span 6;
              }
              @include mediumMobile {
                grid-column: 6 / span 7;
              }

              .project-img {
                inset: -11% auto 0 -19%;
                width: 43.3125vw;

                @include layDesktop {
                  inset: 0 0 auto -40%;
                  width: 50vw;
                }
                @include largeTablet {
                  width: 55.6641vw;
                  top: -3%;
                }
                @include largeMobile {
                  top: 5%;
                }
                @include mediumMobile {
                  inset: 0 0 auto -25%;
                  width: 69.1667vw;
                }
                @include smallMobile {
                  top: 5%;
                }
              }

              &:before {
                content: "";
                height: 100vh;
              }
            }
            .project-content {
              grid-column: 11 / span 2;
              align-self: center;

              @include layDesktop {
                grid-column: 11 / span 3;
                align-self: start;
                place-items: end;
                text-align: right;
              }
            }
          }
          .stamp {
            .stamp-inner {
              inset: 5vw 0 0 0;

              @include mediumTablet {
                inset: 5vw 0 0 -3vw;
              }
              @include largeMobile {
                inset: 0;
              }
              @include mediumMobile {
                inset: 0 0 0 -10vw;
              }
            }
          }
        }
      }
      /* project-2nd */
      &.project-2nd {
        .frame-project {
          .project-visual {
            height: 35vw;

            @include layDesktop {
              height: 39.3329vw;
            }
            @include largeTablet {
              &.common-inner {
                padding-right: 0;
              }
              height: 43.7928vw;
            }
            @include mediumTablet {
              height: 49.8333vw;
            }
            @include largeMobile {
              height: 54.9987vw;
            }
            @include mediumMobile {
              height: 54.9983vw;
            }
            @include smallMobile {
              height: 54.9979vw;
            }

            .project-figure {
              grid-column: 6 / span 4;

              @include largeTablet {
                grid-column: 7 / span 6;
              }
              @include mediumMobile {
                grid-column: 6 / span 7;
              }

              .project-img {
                inset: 5% 0 0 -13%;
                width: 39.0625vw;
                transform: rotate(-25deg);

                // @include layDesktop{
                //     inset:-5% 0 0 -139%;
                //     width:100vw;
                // }

                // @include largeTablet{
                //     inset:3% 0 0 -88%;
                // }
                // @include largeMobile{
                //     inset:5% 0 0 -100%;
                //     width:108.724vw;
                // }
                // @include mediumMobile{
                //     inset:3% 0 0 -100%;
                // }
              }
            }
            .project-content {
              grid-column: 10 / span 3;
              align-self: end;
            }
          }

          .stamp {
            .stamp-inner {
              inset: 2vw 0 0 -12vw;

              @include largeTablet {
                inset: 5vw 0 0 0;
              }
              @include mediumTablet {
                inset: 5vw 0 0 -3vw;
              }
              @include largeMobile {
                inset: 0;
              }
              @include mediumMobile {
                inset: -3vw 0 0 -12vw;
              }
            }
          }
        }
      }
      /* project-3rd */
      &.project-3rd {
        .frame-project {
          .project-content {
            grid-column: 1 / span 3;
            align-self: center;
          }

          .project-visual {
            @include largeTablet {
              &.common-inner {
                padding-left: 0;
                padding-right: 0;
              }
            }

            .project-figure {
              grid-column: span 6;

              .project-img {
                // inset:-13% 0 0 -8%;
                // width:62.6563vw;
                transform: rotate(-43deg);

                @include largeTablet {
                  inset: -10% 0 0 20%;
                  width: 62.45vw;
                }
                @include largeMobile {
                  width: 75.8438vw;
                }
              }
            }
          }
          .stamp {
            .stamp-inner {
              inset: 3vw 0 0 20vw;

              @include largeTablet {
                inset: 3vw 0 0 10vw;
              }
              @include largeMobile {
                inset: 0 0 0 6vw;
              }
            }
          }
        }
      }
      /* project-4th */
      &.project-4th {
        .frame-project {
          .project-visual {
            height: 33.75vw;

            @include layDesktop {
              height: 37.928vw;
            }
            @include largeTablet {
              height: 42.2289vw;
              padding-right: 0;
            }
            @include mediumTablet {
              height: 44.9949vw;
            }
            @include mediumMobile {
              height: 45vw;
            }
            @include smallMobile {
              height: 46.7641vw;
            }

            .project-figure {
              grid-column: 6 / span 4;

              @include largeTablet {
                grid-column: 6 / span 7;
              }

              .project-img {
                top: 10%;
                left: -57.5%;
                width: 31.4354vw;

                @include layDesktop {
                  top: 20%;
                  width: 140%;
                  left: -70%;
                }
                @include largeTablet {
                  width: 43.3594vw;
                  left: -25%;
                }
                @include largeMobile {
                  width: 52.7344vw;
                }
                @include mediumMobile {
                  width: 55vw;
                }
              }
            }
          }
          .project-content {
            grid-column: 10 / span 3;
            align-self: end;
          }
          .stamp {
            .stamp-inner {
              inset: 0 0 0 -25vw;

              @include largeTablet {
                inset: 0 0 0 -20vw;
              }
            }
          }
        }
      }
      /* project-5th */
      &.project-5th {
        .frame-project {
          .project-visual {
            &.common-inner {
              padding-left: 0;

              @include largeTablet {
                padding-right: 0;
              }
            }

            .project-figure {
              grid-column: span 6;

              .project-img {
                inset: -1rem -35vw 0 auto;
                width: 65.5833vw;

                @include layDesktop {
                  width: 75.7018vw;
                }
                @include largeTablet {
                  width: 75.7018vw;
                }
                @include mediumTablet {
                  width: 75.7018vw;
                }
                @include largeMobile {
                  inset: 3rem -50vw 0 auto;
                  width: 80.7018vw;
                }
              }
            }
          }
          .project-content {
            grid-column-start: 11;
            grid-column-end: -1;
            align-self: center;
          }

          .stamp {
            .stamp-inner {
              inset: -5rem 0 0 -25vw;
            }
          }
        }
      }
    }
    /* ohter project */
    &-other {
      margin-top: 12rem;
      font-family: Neuehaasdisplay, pretendard, sans-serif;
      .other-head {
        display: flex;
        align-items: center;
        padding: 0 3.7rem 7rem;
        font-size: var(--font-size-sm-1);

        @include largeTablet {
          padding: 0 3rem 4rem;
        }

        &:before {
          content: "";
          display: inline-block;
          vertical-align: middle;
          width: 1rem;
          height: 1rem;
          background: #fe330a;
          border-radius: 50%;
          margin-right: 1rem;
        }
      }
      .other-list {
        line-height: 1;

        .other-item {
          position: relative;
          box-shadow: inset 0 -1px 0 #b2b2b2;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 0;
            background: #ff9831;
            z-index: -1;
            transition: all 0.2s;
          }
          &:hover:before {
            content: "";
            height: 100%;
          }

          a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3.2rem 3.7rem;

            @include largeTablet {
              flex-direction: column;
              justify-content: center;
              padding: 2rem 3rem;
            }
          }
          .title {
            display: block;
            font-size: 6rem;
            font-weight: 600;
            line-height: 1.5;
            text-align: center;

            @include betweenDesktop {
              font-size: 5rem;
            }
            @include layDesktop {
              font-size: 4rem;
            }
            @include largeMobile {
              font-size: 3.5rem;
            }
            @include smallMobile {
              font-size: 2.8rem;
            }
          }
          .info {
            text-align: right;

            @include largeTablet {
              text-align: center;
              margin-top: 1rem;
            }
            .date {
              color: #fe330a;
              font-size: 1.6rem;
            }
            .desc {
              color: rgba(0, 0, 0, 0.6);
              font-size: 1.6rem;
              margin-top: 1rem;
              letter-spacing: 0.1rem;
            }
          }
        }
      }
    }
  }
} //App-main

/* avatar-profile */
.avatar-profile {
  position: fixed;
  right: 16px;
  bottom: 16px;
  width: 10rem;
  z-index: 1000;
  border-radius: 50%;
  transition: transform 0.5s ease, opacity 0.5s ease;
  font-family: "pretendard", sans-serif;
  .avatar-img {
    animation: bounce 1s infinite alternate;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  &:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -65%);
    width: 0;
    height: 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px inset, rgba(0, 0, 0, 0.05) 0px 0px 2px 1px, rgba(0, 0, 0, 0.3) 0px 12px 60px;
    transition: all 0.3s;
    border-radius: 50%;
  }
  &:hover:before {
    content: "";
    width: 4rem;
    height: 4rem;
  }
  /* avatar-profile-box */
  &-box {
    position: fixed;
    right: 27px;
    bottom: 35px;
    width: 39rem;
    max-height: 70.7rem;
    z-index: 20000;
    height: calc((100% - 1.6rem) * 2);
    min-height: 4.8rem;
    overflow: hidden;
    visibility: hidden;
    border-radius: 1rem;
    padding-bottom: 1.5rem;
    background: #f9f5ef;
    transition: visibility 300ms cubic-bezier(0.36, 0, 0, 1) 0s;
    border: 0.5px solid rgba(23, 16, 16, 0.1);
    box-shadow: 0 16px 48px rgba(0, 0, 0, 0.15);
    animation: 400ms cubic-bezier(0.36, 0, 0, 1) 0s 1 normal none running close;
    will-change: transform, opacity;

    @include smallMobile {
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      max-height: 93%;
      border-radius: 1rem 1rem 0 0;
    }

    @keyframes close {
      0% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
      }
      100% {
        opacity: 0;
        transform: translate3d(0px, 20px, 0px);
      }
    }
    &.on {
      opacity: 1;
      visibility: visible;
      animation: 400ms cubic-bezier(0.36, 0, 0, 1) 0s 1 normal both running jtBULV;
    }

    @keyframes jtBULV {
      0% {
        opacity: 0;
        transform: translate3d(0px, 20px, 0px);
      }
      100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
      }
    }

    .avatar-head {
      padding: 1.5rem 0;
      border-bottom: 1px solid #ddd;

      h2 {
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
        line-height: 1;
      }
    }

    .avatar-con {
      padding: 2rem;
      height: calc(100% - 2.8rem);
      width: 100%;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 5px;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      &::-webkit-scrollbar-thumb {
        background: #888;
        height: 100px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      h3 {
        font-size: 2.4rem;
        line-height: 1.3;
      }

      .desc {
        margin-top: 2rem;
        font-size: 1.6rem;
      }

      //link-works
      .link-works {
        margin-top: 2rem;

        .works-list {
          margin-top: 2rem;

          li {
            border-radius: 3rem;
            a {
              display: block;
              position: relative;
              &:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border: 1px solid rgba(0, 0, 0, 0.1);
                transform: translateZ(0);
                perspective: 1px;
              }
            }
            + li {
              margin-top: 0.5rem;
            }
          }
        }
      }
    }
    //close-btn
    .close-btn-wrap {
      position: absolute;
      left: 2rem;
      top: 1.5rem;
      display: flex;
      align-items: center;

      li {
        width: 15px;
        height: 15px;
        position: relative;
        border-radius: 50%;
        margin-right: 0.5rem;
        border: 1px solid #ddd;

        &:first-child {
          border: none;
          background: #ea4335;
        }

        .btn-close {
          display: block;
          width: 100%;
          height: 100%;
          position: relative;

          &:before {
            content: "\00d7";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 13px;
            color: #ea4335;

            @include smallMobile {
              color: #fff;
            }
          }

          &:hover:before {
            content: "\00d7";
            color: #fff;
          }
        }
      }
    }
  }
}
